---
import Layout from '../layouts/Layout.astro';
import Pay from './Pay';
---

<Layout>
    <main>
        <h1>Welcome to NexBuy</h1>
        <Pay />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
    }
</style>