---
import Layout from '../layouts/Layout.astro';
import App from '../App';
---

<Layout title="NexBuy">
    <main>
        <client:only>
            <App client:load />
        </client:only>
    </main>
</Layout>

